<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Je suis un programmeur et game designer avec 3+ années d'expérience en studio de jeux.</p>
      </div>
      <div class="col-lg-4">
        <p>J'ai des compétences en Unity, Unreal, C++, C#, Java, Python, et plus.</p>
      </div>
    </div>
  </div>
</section>
